@media(min-width: 900px){
    #main-nav{
        background-color: transparent;
        box-shadow: none;
    }

    #main-bg{
        margin-top: -64px;
        max-height: 300px;
        max-width: 100%;
    }
}

#main-bg img{
    max-width: 100%;
}

@media(max-width: 900px){
    #main-nav{
        background-image: url('../img/bg.png');
        background-color: transparent;
    }
}

#main-title{
    margin: auto;
    color: #fff;
}

#nav-title{
    display: none;
}

footer.page-footer{
    background-color: #333;
}

#site-description h5{
    margin: 30px auto;
    font-family: serif;
    text-align: center;
}

#site-logo{
    background-color: transparent;
}

#site-logo a{
    padding: 0;
}
#site-logo a:hover{
    transition: none;
    background-color: transparent;
}

#site-logo img{
    height: 55px;
    margin-top: 3px;
    margin-left: 15px;
}

article img{
    max-width: 100%!important;
}

footer a{
    color: #fff;
}

#main-bg .valign{
    margin: auto;
}

#main-bg h5{
    font-style: italic;
    font-family: serif;
    font-size: 1.2em;
    color: #fff;
    font-weight: lighter;
}

h2{
    font-size: 3em;
}

#main-avatar{
    max-width: 200px;
}