---
layout: page
---
{% for post in site.posts %}  
{% unless post.next %}
<h3>{{ post.date | date: '%Y' }}</h3>
{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}
<h3>{{ post.date | date: '%Y' }}</h3>
{% endif %}
{% endunless %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <span class="right">{{post.date| date: '%B %d, %Y'}}</span>
        <p>
            {{ post.content | markdownify | strip_html | truncatewords:75 }}
        </p>
    </div>
    <div class="card-action">
        <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
    </div>
</div>
{% endfor %}